README.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Frontend build outputs & node modules
node_modules/
dist/

# tansci frontends
tansci-boot-ui/node_modules/
tansci-boot-ui/dist/

# editor frontend
tansci-boot-ui-editor/node_modules/
tansci-boot-ui-editor/dist/
tansci-boot-ui-editor/gh-pages/

# logs
*.log
.DS_Store
